.container {
    display: flex;
    padding-right: 5px;
    width: 70%;
    height: 350px;
    margin: 100px auto;
    border-radius: 3px;
    overflow: hidden;
}
.section1{
background-color: hsl(31, 77%, 52%);
 margin-right:10px;
}
.section2 {
background-color: hsl(184, 100%, 22%);
margin-right:10px;
}
.section3 {
background-color: hsl(179, 100%, 13%);
margin-right:10px;
}
button{
    border-radius: 9px;
    margin: 2px auto;
    padding-bottom: 50px;
}
button>a{
    text-align: center;
    text-decoration: none;
    border: none;
}
.section1 ,.section2 ,.section3 {
    padding: 15px;
}
@media(max-width:600px) {
    .container {
    flex-direction: row;
    height: 390px;
    width: 90%;
}
  
.section1,.section2,.section3{
    flex: 1;
}
button {
     width: auto;
        padding: 10px 20px;
        margin-top: 20px;
}
}

@media (max-width:1024) {
    .container{
        display: flex;
        flex-direction: column;
    }
}


