.container {
    display: flex;
    width: 70%;
    height: 350px;
    margin: 100px auto;
    border-radius: 3px;
    overflow: hidden;
}
.section1{
background-color: hsl(31, 77%, 52%);
}
.section2 {
background-color: hsl(184, 100%, 22%);
}
.section3 {
background-color: hsl(179, 100%, 13%);
}
button{
    border-radius: 9px;
    margin: 2px auto;
    padding-bottom: 50px;
}
button>a{
    text-align: center;
    text-decoration: none;
    border: none;
}
.section1 ,.section2 ,.section3 {
    padding: 15px;
}
@media(max-width:600px) {
    .container {
    display: flex;
    width: 70%;
    height: 350px;
    margin: 100px auto;
    border-radius: 3px;
    overflow: hidden;
    flex-direction: column;
}
  
.section1{
    background-color: brown;
}
.section2 {
    background-color: blue;
}
.section3 {
    background-color: blueviolet;
}
button {
    width: 100%;
    border-radius: 12px;
    border: none;
}
}


